.App {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column; 
 height: 80vh; 
}

.form{
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;  
 padding: 20px;
 border: 1px solid aquamarine;
}

.form input{
  padding: 5px;
  margin-bottom: 15px;
}
